body {
	font-family: 'Montserrat', sans-serif;
	width: auto;
	color: white;
	background: url("../img/back.png") center /cover repeat-y;
	
}
.nav-menu {
	display: table;
	margin: 0 auto;
}
.nav-list {
	margin: 50px;
}
.nav-list-item {
	display: inline-block;
	font-size: 24px;
	text-align: center;
	margin-right: 80px;
}
.nav-list-item:last-child {
	margin-right: 0;
}
.nav-item-list-href {
	color: white;
}
.nav-item-list-href:hover {
	color: rgb(16, 230, 254);
	text-shadow: 1px 1px 1px;
}
.nav-item-list-href:active {
	color:rgb(51, 2, 97);
	text-shadow: 1px 1px 10px;
}
.header-container {
	margin: 5% 5% 3% 10%;
}
.header {
	display: inline-block;
	width: 45%;
	
	font-size: 22px;
	text-align: center;
}
.header-photo {
	display: inline-block;
	width: 40%;
	border-radius: 40px;
	box-shadow: 1px 1px 30px rgb(51, 2, 97);
}
.header-h2 {
	font-size: 24px;
	font-weight: bold;
	width: 40%;
	padding: 10px;
	border: 1px solid rgb(51, 2, 97);
	box-shadow: 3px 3px 5px rgb(51, 2, 97);
	border-radius: 20px;
	margin: 0 auto 20px;
}.header-h2:hover {
	color: rgb(16, 230, 254);
}

.header-description {
	font-size: 20px;
	line-height: 25px;
	width: 450px;
	margin: 0 auto;
}
.header-feedback {
	font-size: 20px;
	margin: 40px auto 0;
	width: 450px;
}
.feedback {
	color: blue;
	text-decoration: underline;
}
.feedback:hover {
	color: rgb(51, 2, 97);
	text-shadow: 1px 1px 1px
}

.kitchen-container {
	margin: 225px 7% 100px;
	font-size: 18px;
}
.kitchen-container-header {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 60px;
}
.kitchen-container-header:hover {
	color: rgb(16, 230, 254);
}
.kitchen-timer {
	margin: 0 310px 5px;
	text-align: left;
}
.kitchen-header-h3 {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	font-weight: 600;
	position: relative;
}
.kitchen-header-h3::before{
	content: "";
	background: url("../img/burger.png") 0 0 no-repeat;
	width: 24px;
	height: 24px;
	top: -4px;
	left: 0;
	position: absolute;
}
.kitchen-header-h3::after{
	content: "";
	background: url("../img/burger.png") 0 0 no-repeat;
	width: 24px;
	height: 24px;
	top: -4px;
	right: 0;
	position: absolute;
}
.kitchen-header-h3:hover {
	color: rgb(16, 230, 254);
}
.kitchen-timer-item {
	margin: 0 0 10px;
	line-height: 30px;
}
.footer {
	display: block;
	margin: 100px 0;
	height: 100px;
}
.author-text {
	text-align: center;
}
.author {
	text-align: center;
	margin-top: 5px;
}
.href-png {
	display: block;
	margin: 5px 0 0 0;
	text-align: center;
}

